<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<style>
  table, th, td {
    border:1px solid black;
  }
</style>
<body>

    <h3>Welcome to Hospital System</h3>

    <button type="submit"><a href="/patient">Register Patient</a></button>
    <button type="submit"><a href="/doctor">Register a Doctor</a></button>
    <button type="submit"><a href="{% url 'confirm-appointment' %}">Approve Appointments</a></button>
    <br>
    <button tyep="submit"><a href="/signout">SignOut</a></button>

    <br><br>

    <h2>Patients Table</h2>

    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>IIN</th>
            <th>Date of Birth</th>
            <th>Blood Type</th>
            <th>Emergency Contact</th>
            <th>Telephone Number</th>
            <th>Email</th>
            <th>Address</th>
            <th>Martial Status</th>
            <th>Registration Date</th>
        </tr>
        {% for patient in patients %}
            <tr>
                <td><a href="{% url 'update-patient' patient.id_number %}">{{ patient.fname }} {{ patient.mname }} {{ patient.lname }}</a></td>
                <td>{{ patient.iin_number }}</td>
                <td>{{ patient.date_of_birth }}</td>
                <td>{{ patient.blood_group }}</td>
                <td>{{ patient.emergency_contact_number }}</td>
                <td>{{ patient.contact_number }}</td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.address }}</td>
                <td>{{ patient.martial_status }}</td>
                <td>{{ patient.registration_date }}</td>
            </tr>
        {% endfor %}
    </table>

    <br><br>

     <h2>Doctors Table</h2>

    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>IIN</th>
            <th>Date of Birth</th>
            <th>Telephone Number</th>
            <th>Department ID</th>
            <th>Specialization Details ID</th>
            <th>Experience in Years</th>
            <th>Category</th>
            <th>Price</th>
            <th>Schedule Details</th>
            <th>Degree of Education</th>
            <th>Rating</th>
            <th>Address</th>
            <!--<th>Photo</th>-->
        </tr>
        {% for doctor in doctors %}
            <tr>
                <td><a href="{% url 'update-doctor' doctor.id_number %}">{{ doctor.fname }} {{ doctor.mname }} {{ doctor.lname }}</a></td>
                <td>{{ doctor.iin_number }}</td>
                <td>{{ doctor.date_of_birth }}</td>
                <td>{{ doctor.contact_number }}</td>
                <td>{{ doctor.department_id }}</td>
                <td>{{ doctor.specialization_details_id }}</td>
                <td>{{ doctor.experience }}</td>
                <td>{{ doctor.category }}</td>
                <td>{{ doctor.price }}</td>
                <td>{{ doctor.schedule_details }}</td>
                <td>{{ doctor.education }}</td>
                <td>{{ doctor.rating }}</td>
                <td>{{ doctor.address }}</td>
                <!--<td><img src="{{ doctor.photo.url }}"/></td>-->
            </tr>
        {% endfor %}
    </table>

</body>
</html>