<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirm appointment</title>
    <style>
      table, th, td {
        border:1px solid black;
      }
    </style>
</head>
<body>
     <table style="width:100%">
         <tr>
             <th>requests</th>
             <th>Confirm</th>
             <th>Reject</th>

             {% for appointment in appointments %}
             <tr>
                <td>{{ appointment.patient_name }}, {{ appointment.date }}, {{ appointment.time }}</td>
                <td><a href="{% url 'confirm-request' appointment.doctor_id appointment.date appointment.timeslot %}">Confirm</a></td>
                <td><a href="{% url 'delete-preappointment' appointment.doctor_id appointment.date appointment.timeslot %}">Reject</a></td>
            <tr>
            {% endfor %}


         </tr>
     </table>
</body>
</html>